<body>
  <footer>
    <div class="footer-section">
      <div class="footer-title">NAVIGAȚIE</div>
      <div class="footer-links">
        <a href="#">Magazine partenere</a>
        <a href="#">Budinca de Chia</a>
        <a href="#">Ohvăz în presă</a>
        <a href="#">Ovaz</a>
        <a href="#">Despre Ohvăz</a>
        <a href="#">Limonada</a>
        <a href="#">Termeni și condiții</a>
        <a href="#">Biscuiți</a>
        <a href="#">Politică de confidențialitate</a>
        <a href="#">Special</a>
      </div>
    </div>

    <div class="footer-section">
      <div class="footer-title">Contact</div>
      <div class="footer-links">
        <p>Telefon pentru comenzi</p>
        <a href="#"> 021-555.23.31</a>
        <p>Telefon pentru persoane juridice</p>
        <a href="#">0760.087.885</a>
        <p>Ne găsești pe</p>
        <a href="#">Facebook</a>
        <p>Ne urmărești pe</p>
        <a href="#"> Instagram</a>
        <p>Ne citești pe</p>
        <a href="#">Blogul Ohvăz</a>
        <p>Program</p>
        <p>Luni - Vineri; 09:00 - 16:30</p>
      </div>
    </div>
  </footer>
</body>
