<body>
  <nav class="navbar">
    <div class="logo">
      <img src=".\assets\ohvaz-logo.svg" alt="Logo" />
    </div>
    <ul class="nav-links">
      <li><a href="#">Acasa</a></li>
      <li class="dropdown">
        <a href="#">Produse</a>
        <ul class="dropdown-menu">
          <li><a href="#">Bauturi</a></li>
          <li><a href="#">Ovaz</a></li>
          <li><a href="#">Special</a></li>
          <li><a href="#">Biscuiti </a></li>
          <li><a href="#">Chia</a></li>
          <li><a href="#">Granola</a></li>
        </ul>
      </li>

      <li><a href="#">Presa</a></li>
      <li><a href="#">Magazine</a></li>
      <li><a href="#">Contact</a></li>
      <li><a href="#">Blog</a></li>
      <li><a href="#">Intra in cont</a></li>
      <li><a href="#">Cosul meu</a></li>
    </ul>
    <button class="nav-button">Inregistreaza-te</button>
  </nav>
</body>
