<body>
  <div>
    <ul class="nav-links">
      <li>
        <a (click)="onSelectProductCategory(beverages)" href="#">{{
          beverages
        }}</a>
      </li>
      <li>
        <a (click)="onSelectProductCategory(cookies)" href="#">{{ cookies }}</a>
      </li>
      <li>
        <a (click)="onSelectProductCategory(chia)" href="#">{{ chia }}</a>
      </li>
      <li>
        <a (click)="onSelectProductCategory(granola)" href="#">{{ granola }}</a>
      </li>
      <li>
        <a (click)="onSelectProductCategory(oats)" href="#">{{ oats }}</a>
      </li>
      <li>
        <a (click)="onSelectProductCategory(friends)" href="#">{{ friends }}</a>
      </li>
      <li>
        <a (click)="onSelectProductCategory(special)" href="#">{{ special }}</a>
      </li>
    </ul>
  </div>
</body>
