<body>
  <div>
    <ul class="nav-links">
      <li>
        <a (click)="onSelectProduct(beverages)" href="#">{{ beverages }}</a>
      </li>
      <li>
        <a (click)="onSelectProduct(cookies)" href="#">{{ cookies }}</a>
      </li>
      <li>
        <a (click)="onSelectProduct(chia)" href="#">{{ chia }}</a>
      </li>
      <li>
        <a (click)="onSelectProduct(granola)" href="#">{{ granola }}</a>
      </li>
      <li>
        <a (click)="onSelectProduct(oats)" href="#">{{ oats }}</a>
      </li>
      <li>
        <a (click)="onSelectProduct(friends)" href="#">{{ friends }}</a>
      </li>
      <li>
        <a (click)="onSelectProduct(special)" href="#">{{ special }}</a>
      </li>
    </ul>
  </div>
</body>
