body {
  margin: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 20px;
  background: transparent;
}
